.App {
  text-align: center;
}

.App-nav-li {
  display: flex;
  justify-content: space-around;
  background-color: #0d1117;
  padding: 2vh 2rem;
}
.App-nav-li li {
  list-style: none;
}
.App-nav-li li a {
  color: aliceblue;
  text-decoration: none;
}
.Users {
  background-color: #0d1117;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
  background-color: #0d1117;
  color: #8b949e;
  padding: 1.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination .page-num {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 300px;
}
.pagination .page-num:hover {
  background-color: #39d353e1;
  color: #fff;
}
.pagination .active {
  background-color: #39d353e1;
  color: #333;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin: 100px auto; */
  /* width: 60%; */
  background-color: #161b22;
  margin: 1rem;
  padding: 1rem;
  max-width: 300px;
  border-radius: 10px;
  color: #8b949e;
  border: 1px solid #8b949e2a;
}
.card-info {
  padding: 0.6rem;
  border-bottom: 1px solid rgba(139, 148, 158, 0.15);
}
.card-name {
  padding-bottom: 0.6rem;
  color: #39d353e1;
}
.card-image {
  border-radius: 50%;
  border: 1px solid red;
}

/* home */
.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 94vh;
  align-items: center;
  background-color: #0d1117;
}
.Home h1 {
  color: #39d353e1;
}
.Home p {
  color: #8b949e;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 1rem;
}
/* for loading component */
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94vh;
  background-color: #0d1117;
}

.Contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 93vh;
  background-color: #0d1117;
}
.Contacts h1 {
  color: #8b949e;
}
.Contacts nav ul li {
  list-style: none;
  background-color: #39d353e1;
  margin: 1rem;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
}
.Contacts nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}
.Socials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1117;
  height: 93vh;
  flex-direction: column;
}
.Socials h1 {
  color: #8b949e;
}
.Socials-links {
  margin-top: 3rem;
}
.Socials-links a {
  text-decoration: none;
  background-color: #39d353e1;
  margin: 1rem;
  padding: 1rem 1.4rem;
  border-radius: 1rem;
  color: #333;
}
.Socials-links a i {
  /* display: block; */
  margin-right: 0.5rem;
}
.Physical {
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 94vh;
  width: 100%;
}
.Physical h1 {
  color: #8b949e;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 1.4rem;
}
form {
  border: 1px solid #8b949e;
  border-radius: 5px;
  color: #8b949e;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
}
form > * {
  padding: 1rem;
}
input,
textarea {
  background-color: #eee;
}
.Physical button {
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 8px;
}

.Physical button:disabled {
  background-color: #8b949e;
  color: #333;
}
.Physical button:enabled {
  background-color: #39d353e1;
  color: #111;
}
