.App {
  text-align: center;
}

.App-nav-li {
  display: flex;
  justify-content: space-around;
  /* background-color: #161b22; */
  background-color: #0d1117;
  padding: 1rem 2rem;
}
.App-nav-li li {
  list-style: none;
}
.App-nav-li li a {
  color: aliceblue;
  text-decoration: none;
}
.Users {
  background-color: #0d1117;
  /* height: 100%; */
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5rem; */
  font-size: 1.05rem;
  gap: 5px;
  background-color: #0d1117;
  color: #8b949e;
  padding: 1.5rem;
}

.pagination .page-num {
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 3px;
  font-weight: 300px;
}
.pagination .page-num:hover {
  background-color: #39d353e1;
  color: #fff;
}
.pagination .active {
  background-color: #39d353e1;
  color: #333;
}
.cards {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* margin: 100px auto; */
  /* width: 60%; */
  background-color: #161b22;
  margin: 1rem;
  padding: 1rem;
  max-width: 300px;
  border-radius: 10px;
  color: #8b949e;
  border: 1px solid #8b949e2a;
}
.card-info {
  padding: 0.6rem;
  border-bottom: 1px solid rgba(139, 148, 158, 0.15);
}
.card-name {
  padding-bottom: 0.6rem;
  color: #39d353e1;
}
.card-image {
  border-radius: 50%;
  border: 1px solid red;
}
.card-text {
  display: block;
  border-top: 1px solid rgba(139, 148, 158, 1);
}
